<?xml version="1.0"?>

<!--
/**
 * @author Monogo
 * @copyright Copyright (c) 2019 Monogo (https://monogo.pl)
 * @package Monogo_PagespeedAnalysis
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Monogo_PagespeedAnalysis::global" title="Pagespeed Analysis" translate="title" sortOrder="200">
                    <resource id="Monogo_PagespeedAnalysis::config" title="Module configuration" translate="title" sortOrder="100"/>
                </resource>
                <resource id="Magento_Reports::report">
                    <resource id="Monogo_Pagespeed::pagespeed_report" title="Pagespeed Report"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
