<?xml version="1.0"?>

<!--
/**
 * @author Monogo
 * @copyright Copyright (c) 2019 Monogo (https://monogo.pl)
 * @package Monogo_PagespeedAnalysis
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pagespeed>
            <general>
                <enable>0</enable>
                <apitoken backend_model="Magento\Config\Model\Config\Backend\Encrypted"></apitoken>
                <strategy>mobile,desktop</strategy>
                <use_cron>0</use_cron>
                <cron_expr></cron_expr>
            </general>
            <chart>
                <height>150</height>
                <autoscale>0</autoscale>
                <zoom>0</zoom>
                <zoom_sensitivity>5</zoom_sensitivity>
                <hide_x_values>0</hide_x_values>
                <point_radius>0</point_radius>
                <point_hover_radius>5</point_hover_radius>
                <animations>0</animations>
                <history>30</history>
                <performance>#4268b3</performance>
                <seo>#d46fd4</seo>
                <pwa>#f2970e</pwa>
                <best_practices>#24a318</best_practices>
                <accessibility>#f5d60c</accessibility>
                <ttfb>#0c90f5</ttfb>
                <first_contentful_paint>#f50c20</first_contentful_paint>
                <first_meaningful_paint>#24a318</first_meaningful_paint>
                <speed_index>#d46fd4</speed_index>
                <interactive>#f2970e</interactive>
                <first_cpu_idle>#f5d60c</first_cpu_idle>
            </chart>
        </pagespeed>
    </default>
</config>