<?xml version="1.0"?>

<!--
/**
 * @author Monogo
 * @copyright Copyright (c) 2020 Monogo (https://monogo.pl)
 * @package Monogo_PagespeedAnalysis
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="monogo" translate="label, comment" sortOrder="9000" class="monogo-tab">
            <label>Monogo</label>
        </tab>
        <section id="pagespeed" translate="label, comment" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Pagespeed Analysis</label>
            <tab>monogo</tab>
            <resource>Monogo_PagespeedAnalysis::config</resource>
            <group id="general" translate="label, comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label, comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apitoken" translate="label, comment" type="obscure" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>PageSpeed Insights API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                    <comment><![CDATA[To get new API TOKEN click <a href="https://developers.google.com/speed/docs/insights/v5/get-started" target="_blank">here</a> -> Get A Key]]></comment>
                </field>
                <field id="strategy" translate="label" type="multiselect" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Strategy</label>
                    <source_model>Monogo\PagespeedAnalysis\Model\System\Config\Strategy</source_model>
                    <validate>required-entry validate-select</validate>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="use_cron" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Magento Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                    <comment>You can disable Magento Cron and run script from shell by php bin/magento monogo:pagespeed:run</comment>
                </field>
                <field id="cron_expr" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron schedule</label>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                        <field id="pagespeed/general/use_cron">1</field>
                    </depends>
                    <comment>Use Crontab Format (Eg. "0 0 * * *" every day at midnight). Recommended value is once a day</comment>
                </field>
            </group>
            <group id="endpoints" translate="label, comment" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Endpoints Configuration</label>
                <field id="list" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Endpoint list</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Dynamicfield</frontend_model>
                    <backend_model>Monogo\PagespeedAnalysis\Model\System\Config\Dynamicfield</backend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="chart" translate="label, comment" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Chart Configuration</label>
                <field id="history" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show last</label>
                    <source_model>Monogo\PagespeedAnalysis\Model\System\Config\History</source_model>
                    <validate>required-entry validate-select</validate>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="height" translate="label comment" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Chart height in px</label>
                    <validate>validate-digits</validate>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="autoscale" translate="label, comment" type="select" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Auto Scale</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If No selected, all charts will have the same min and max values</comment>
                </field>
                <field id="zoom" translate="label, comment" type="select" sortOrder="320" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable zoom</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable zoom (mouse scroll)</comment>
                </field>
                <field id="zoom_sensitivity" translate="label comment" type="text" sortOrder="325" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Zoom sensitivity</label>
                    <validate>validate-digits</validate>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                        <field id="pagespeed/chart/zoom">1</field>
                    </depends>
                </field>
                <field id="hide_x_values" translate="label, comment" type="select" sortOrder="350" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Hide X values</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment></comment>
                </field>
                <field id="point_radius" translate="label, comment" type="text" sortOrder="370" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Marker radius</label>
                    <validate>validate-digits</validate>
                    <comment></comment>
                </field>
                <field id="point_hover_radius" translate="label, comment" type="text" sortOrder="390" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Marker hover radius</label>
                    <validate>validate-digits</validate>
                    <comment></comment>
                </field>
                <field id="animations" translate="label, comment" type="select" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable chart animations</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="performance" translate="label comment" type="text" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Performance line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="seo" translate="label comment" type="text" sortOrder="600" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SEO line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="pwa" translate="label comment" type="text" sortOrder="700" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>PWA line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="best_practices" translate="label comment" type="text" sortOrder="800" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Best Practices line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="accessibility" translate="label comment" type="text" sortOrder="900" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Accessibility line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="ttfb" translate="label comment" type="text" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>TTFB line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="first_contentful_paint" translate="label comment" type="text" sortOrder="1100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>First Contentful Paint line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="first_meaningful_paint" translate="label comment" type="text" sortOrder="1200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>First Meaningful Paint line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="speed_index" translate="label comment" type="text" sortOrder="1300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Speed Index line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="interactive" translate="label comment" type="text" sortOrder="1400" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Interactive line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
                <field id="first_cpu_idle" translate="label comment" type="text" sortOrder="1500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>First CPU Idle line color</label>
                    <frontend_model>Monogo\PagespeedAnalysis\Block\Adminhtml\System\Config\Color</frontend_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="debug" translate="label, comment" type="text" sortOrder="900" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Debug Configuration</label>
                <depends>
                    <field id="pagespeed/general/enable">1</field>
                </depends>
                <field id="enable_log" translate="label, comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="pagespeed/general/enable">1</field>
                    </depends>
                    <comment>Log to file var/log/pagespeed.log</comment>
                </field>
            </group>
        </section>
    </system>
</config>